<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/c2.css')}}">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is Second Page</h1>
        <img src="{{url_for('static',filename='images/chennai express srk.jpg')}}" alt="" height="690px" width="500px">
        <img src="{{url_for('static',filename='images/chennai express srk4.jpg')}}" alt="" height="1080px" width="1080px">
        <img src="{{url_for('static',filename='images/chennai express srk5.jpg')}}" alt="" height="1080px" width="1080px">
        <h5><a href="{{url_for('first')}}">Navigate To First HTML Page</a></h5>
    </center>
</body>
</html>